@model IEnumerable<TestApp.Models.Contact>

<h2>Contacts</h2>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Married</th>
        <th>Phone</th>
        <th>Salary</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Name</td>
            <td>@c.DateOfBirth.ToShortDateString()</td>
            <td>@c.Married</td>
            <td>@c.Phone</td>
            <td>@c.Salary</td>
        </tr>
    }
    </tbody>
</table>